{# colData must be set before including: set colData = somePosts | groupInto3 #}
<div class="cols">
  {% for col in colData %}
  <div class="col">
    {% for post in col %}
    {% include "components/story-card.njk" %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
