{# colData must be set before including: set colData = somePosts | groupInto3 #}
<div class="cols">
  {% for col in colData %}
  <div class="col">
    {% for post in col %}
      {% if post.data.layout == "brief" %}
        {% include "components/brief-card.njk" %}
      {% else %}
        {% include "components/story-card.njk" %}
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
