<div class="paper-footer">
  <div></div>
  <div class="footer-center">
    <div class="footer-pub">{{ site.title }}</div>
    <div class="footer-sub">{{ site.tagline }}</div>
  </div>
  <div></div>
</div>
